{% extends "publication\Basic.html" %}

{% block title%} Этика публикации {%endblock%}
{% block nav %}
				<li><a href='{% url "zhurnal" %}'>О журнале</a></li>
				<li><a href='{% url "etic" %}' class="now_page">Этика Публикации</a></li>
				<li><a href='{% url "gid" %}'>Гид для автора</a></li>
							{% if user.is_authenticated %}
				<li><a href="{% url 'logout'%}?next={{request.path}}" >Выход</a></li>
   							{% else %}
				<li><a href="{% url 'login'%}?next={{request.path}}">Вход</a></li>
   							{% endif %}
{% endblock %}

{% block content %}
{% load static %}

	<div class="predmeti">
	<div class="btn"><b>Предметы</b></div>
			<ul class = "pred">
				{% for pred in preds %}
				<li><a href="{% url 'predmet' pn=pred.id %}">{{pred.name}}</a></li>
				{% endfor %}
			</ul>
		</div>

	<div class="content">
		<h2>Этика публикации</h2>
		<p>Министерство образования и науки Республики Казахстан
Кокшетауский государственный университет им. Ш. Уалиханова
НАУЧНЫЙ ЖУРНАЛ
«ВЕСТНИК КОКШЕТАУСКОГО ГОСУДАРСТВЕННОГО УНИВЕРСИТЕТА
ИМЕНИ Ш. УАЛИХАНОВА. СЕРИЯ ФИЛОЛОГИЧЕСКАЯ»
При написании статьи просим авторов руководствоваться следующими
правилами: текст рукописи объемом 5-8 страниц набирается в редакции Microsoft Word for
Windows. Шрифт Times New Roman, 12 кегль; межстрочный интервал – одинарный;
выравнивание по ширине; абзацный отступ – 1 см. Все поля – 2 см; страницы не нумеруются;
иллюстративный материал печатается курсивом и без кавычек. К публикации принимаются
статьи на казахском, русском, английском, немецком языках, представленные в электронном
виде, с оригинальностью текста не менее 80%.
Оформление статьи (см. Приложение 1):
1. Индекс УДК (Универсальной десятичной классификации) публикуемого материала
(выравнивание по левому краю);
2. Сведения об авторах: инициалы и фамилия (-и) автора (-ов) – на языке публикуемого
материал (жирным шрифтом, абзац 1 см по левому краю); сведения о нескольких авторах
сопровождаются индексами (например, А.Б. Адилова1
, С.С. Сарсенбаева2
);
3. На следующей строке – ученая степень, ученое звание, должность, название вуза или
организация, город, страна, адрес электронной почты (данные по каждому автору даются на
отдельной строке, выравнивание текста по ширине)
4. Через одну строку НАЗВАНИЕ СТАТЬИ (заглавными буквами на языке
публикуемого материала, жирным шрифтом, выравнивание по ширине);
5. Через 1 строку – аннотация (аннотацию приводят на языке текста публикуемого
материала – 7-10 предложений (не менее 100 слов), оформляют курсивом). В конце статьи,
приводится также аннотация на двух остальных языках (казахский/русский и английский);
6. На следующей строке 5-10 ключевых слов на языке публикуемого материала
(Ключевые слова оформляют курсивом, выравнивание текста по ширине);
7. Через 1 строку – текст статьи.
Текст статьи необходимо изложить в следующей последовательности: ВВЕДЕНИЕ –
ОСНОВНАЯ ЧАСТЬ – ВЫВОДЫ. После этих составляющих через 1 строку начинается текст
(абзацный отступ 1 см)
- Слово ВВЕДЕНИЕ / КІРІСПЕ / INTRODUCTION (нежирными заглавными буквами, по
центру на языке публикуемого материала).
Введение должно определять научную и познавательную значимость избранной темы,
освещать ее актуальность и степень изученности на современном уровне. Во введении
необходимо отразить результаты предшествующих работ ученых, что им удалось исследовать,
что требует дальнейшего изучения, какие есть альтернативы; представить теоретикометодологическую базу; описать методы исследования и т.д.
- Слова ОСНОВНАЯ ЧАСТЬ / НЕГІЗГІ БӨЛІМ / MAIN PART (нежирными заглавными
буквами, по центру).
Основная часть должна быть целенаправленной, систематически и логично построенной, данная часть должна освещать самостоятельный вопрос поставленной проблемы
(темы). Это отражение процесса исследования или последовательность рассуждений, в
результате которых получены теоретические выводы.
- Слово ВЫВОДЫ / ҚОРЫТЫНДЫ / CONCLUSION (нежирными заглавными буквами,
по центру).
Это обязательная и относительно самостоятельная часть исследования. Задача –
подведение в сжатой и конкретизированной форме итогов всей статьи, поэтому здесь не
приводятся и не пересказываются какие-либо фактические данные, новые теоретические
выводы, о которых не было речи в основной части. В заключении содержатся лишь четко
сформулированные выводы о том, что автор хотел показать и доказать в своей работе, ответы
на те вопросы, которые были сформулированы во введении, а также по возможности
определены пути дальнейшего изучения проблемы. Выводы занимают не более 1 страницы
текста статьи.
8. Список использованных источников СПИСОК ИСПОЛЬЗОВАННЫХ
ИСТОЧНИКОВ / ПАЙДАЛАНҒАН ДЕРЕКТЕР ТІЗІМІ / REFERENCES (Нежирными
заглавными буквами, по центру).
Ссылки на литературу приводятся в тексте в квадратных скобках по мере упоминания
[1, 25] (первая цифра обозначает номер источника в списке, вторая – страницу литературы).
Литература приводится в конце статьи по порядку цитирования.
Базовым издательским стандартом по оформлению статей для публикации в научном
журнале является ГОСТ 7.5-98 «Журналы, сборники, информационные издания. Издательское
оформление публикуемых материалов», пристатейных библиографических списков – ГОСТ
7.1-2003 «Библиографическая запись. Библиографическое описание. Общие требования и
правила составления».
9. В конце статьи на двух других языках (казахский/английский, русский/английский,
казахский/русский) приводятся:
- на одной строке сведения об авторах (инициалы, фамилия – выравнивание по левому
краю), сведения о нескольких авторах сопровождается индексами (например, А.Б. Адилова1
,
С.С. Сарсенбаева2
);
- на следующей строке – название статьи (жирным шрифтом, выравнивание по левому
краю);
- на следующей строке – название вуза или организация, город, страна (данные по
каждому автору даются на отдельной строке, выравнивание текста по правому краю);
- на следующей строке – аннотация (аннотацию приводят на двух других языках 7-10
предложений, оформляют курсивом, выравнивание текста по ширине).
Статьи автор без ученой степени должны сопровождаться рецензией доктора или
кандидата наук.
Статьи, оформленные не в соответствии с требованиями, к публикации не
принимаются и возвращаются авторам.
Датой поступления статьи считается дата получения редакцией ее окончательного
варианта.
Статьи публикуются по мере поступления.
Выпуск журнала осуществляется в PDF формате.
Периодичность издания журнала – шесть раз в год.
Публикации осуществляются на платной основе.
Стоимость публикации – 7000 тенге.
Для преподавателей и сотрудников КГУ им. Ш. Уалиханова стоимость публикации –
5000 тенге.
</p></div>
{% endblock %}


